### 단축키 사용법
- crtl + M + m: 마크다운 셀로 변환
- crtl + M + y: 에딧 셀로 전환
- a,b 위 아래로 추가
- crtl + M + D: 셀 삭제
- crtl + M + Z: 삭제 된 셀 복구 (유용유용)

In [32]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [33]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [34]:
# 작업 위치 조회
!pwd

/content/drive/My Drive/Colab_Notebooks

In [35]:
# 작업 위치 변경
%cd /content/drive/MyDrive/Colab_Notebooks

/content/drive/MyDrive/Colab_Notebooks

### 목표
- TensorFlow
- 머신러닝 딥러닝 차이

In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [37]:
data = pd.read_csv("./data/student-mat.csv", delimiter=";")
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [38]:
data.info()

# 결측치는 없음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [39]:
# 문제 데이터와 정답데이터 분리
# 문제 데이터는 2차원이여야함!
X = data[['studytime']]  # 문제
y = data["G3"]           # 정답

In [40]:
X.shape, y.shape

((395, 1), (395,))

In [51]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=5)

# shape 쓰기
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((276, 1), (119, 1), (276,), (119,))

### 머신러닝 모델링

In [58]:
# 모델 생성
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np

# 학습
linear_model = LinearRegression()
linear_model.fit(x_train,y_train)

# 평가
linear_model.score(x_test,y_test)

# 테스트 데이터에 대한 예측값 생성
y_pred = linear_model.predict(x_test)

# 평가 지표 계산
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse) # 혹은 mean_squared_error(y_test, y_pred, squared=False)

print(f"MAE (평균 절대 오차): {mae}")
print(f"MSE (평균 제곱 오차): {mse}")
print(f"RMSE (평균 제곱근 오차): {rmse}")

MAE (평균 절대 오차): 3.3850605637350313
MSE (평균 제곱 오차): 21.750794417074616
RMSE (평균 제곱근 오차): 4.663774696217069

-0.3404111201192561

### 머신러닝과 딥러닝 비교
> 머신러닝(Sklearn)
> - 클래스 임포트 -> 모델 생성(초기화) -> 학습 -> 예측 & 평가
> - 다양한 알고리즘들이 여러 클래스로 구현되어있음(완제품 로봇에 도색)

#### 딥러닝(Tesorflow 기반)
> - 모델 설계 -> 학습 -> 예측 & 평가
> - 각각의 층을 직접 정의(이미 만들어진 층을 가져오기 가능)하고, 이름 조합 (레고로 만드는 조립식 로봇)
> - 직접 설계할 수 있으니, 유연성이 높음

### 딥러닝 모델링
1. 신경망 구조 설계
2. 학습 방법 설정
3. 학습
4. 예측 & 평가

In [61]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import InputLayer, Dense

In [41]:
# 1. 신경망 구조 설계

# 뼈대
model = Sequential()

# 입력층 - 입력모양을 정하는 역할
model.add(InputLayer(shape = (1,)))  # 데이터 1개의 모양 지정

# 중간층
# units

model.add(Dense(units=64))

# 출력층